body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.leftside {
    background-image: url("https://images.unsplash.com/photo-1579867779026-d8285a8c9625?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    backdrop-filter: blur(30px);
    width: 45%;
}

.logo {
    background-color: rgba(105, 105, 105, 0.699);
    color: white;
    margin-top: 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.img {
    padding: 8px 10px 0 0;
}


/* Rightside styles */
.rightside {
    background-color: rgb(49, 49, 49);
    width: 55%;
    min-width: 400px;
}
.right-top {
    /* height: 35%; */
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    padding-bottom: 95px;
    min-width: 410px;
}
.para {
    margin: 0 30% 0 0;
    font-weight: bold;
}

.form {
    height: 60%;
    min-width: 400px;
    display: block;
    
}
.top-form {
    padding: 20px 10px 20px 30px;
    background-color: rgb(97, 97, 97);
    display: flex;
    align-items: center;
}

.form-left {
    margin-right: 30px;
}

.mid-right {
    margin-left: 20px;
}
label, input {
    color: white;
}
input {
    border-color: white;
    border-radius: 5px;
    background-color: rgb(97, 97, 97);
}
label, input {
    margin: 10px;
}

.submit-but {
    margin: 30px 0 0 40px;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    color: white;
    background-color: rgb(97, 97, 97);
}

.submit-but:hover {
    background-color: rgb(123, 123, 123);
    transition-duration: 0.5s;
    cursor: pointer;
}

.account-have{
    margin: 30px 0 0 40px;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
